* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(164, 216, 151);
}

.fundo {
  background-image: url("./assets/fundo.png");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1024px;
  height: 768px;
  margin: 20px auto;

  padding: 50px 70px;
}

.buracos {
  width: 80%;
  margin: 115px auto 0;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.buraco {
  width: 150px;
  height: 130px;
  margin: 10px auto;
  padding: 20px 0 0;
}

.buraco img {
  max-width: 100%;
  height: auto;
}

/* Animações */

#buraco6 {
  animation: aparecer;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

#buraco3 {
  animation: aparecer;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

#buraco12 {
  animation: aparecer;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

#buraco1 {
  animation: aparecer;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

#buraco10 {
  animation: aparecer;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

#buraco2 {
  animation: aparecer;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 6s;
  animation-iteration-count: infinite;
}

#buraco9 {
  animation: aparecer;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 7s;
  animation-iteration-count: infinite;
}

#buraco5 {
  animation: aparecer;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 8s;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    content: url('./assets/toupeira1.svg');
  }

  2% {
    content: url('./assets/toupeira2.svg');
  }

  4% {
    content: url('./assets/toupeira3.svg');
  }

  8% {
    content: url('./assets/toupeira4.svg');
  }

  10% {
    content: url('./assets/toupeira5.svg');
  }

  11% {
    content: unset;
  }

  100% {
    content: unset;
  }
}